<div class="container">
  <br>
  <br>
  <br>
  <h2 class="text-center text-uppercase text-secondary mb-0">About</h2>
  <hr class="star-dark mb-5">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CA400</h5>
            <ul class="card-text">
              <p>This Passport Application System was created as part of my final Year Project. </p>
              <li>Frontend: Angular 6</li>
              <li>Backend: Springboot</li>
              <li>Database: Sqlite</li>
            </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated about a week ago</small>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Documents</h5>
          <ul class="card-text">
            <p>All documents for this project can be found in my Gitlab repo.</p>
            <li>Function Spec can be found <a href="https://gitlab.computing.dcu.ie/mcdons59/2019-ca400-mcdons59/tree/master/docs/functional-spec">here</a> </li>
            <li>Technical Manual & User Manual can be found <a href="https://gitlab.computing.dcu.ie/mcdons59/2019-ca400-mcdons59/tree/master/docs/documentation">here</a></li>
            <li>Blogs for this project can be found  <a href="https://gitlab.computing.dcu.ie/mcdons59/2019-ca400-mcdons59/tree/master/docs/blog">here</a> </li>
            <li>Video Walkthrough for this project can be found  <a href="https://gitlab.computing.dcu.ie/mcdons59/2019-ca400-mcdons59/tree/master/docs/video-walk-through">here</a> </li>
          </ul>
         </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 5 days ago</small>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/img/SpringbootLogo.jpg" alt="Springboot Logo Image" height="300">
        <div class="card-body">
          <h5 class="card-title">Springboot</h5>
          <ul class="card-text">
            <p>Springboot is a framework used in the development of Web Applications</p>
            <li>This is a Java Framework. I am using Java8 </li>
            <li>Maven is being used as my build tool</li>
            <li>REST API's are being used to GET & POST data</li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 1 day ago</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/AngularLogo.png" alt="Angular Logo Image" height="300" >
        <div class="card-body">
          <h5 class="card-title">Angular6</h5>
          <ul class="card-text">
            <p>Angular is a frontend framework.What I used within Angular includes:</p>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            <li>Typescript</li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 8 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/GitlabLogo.jpg" alt="Gitlab Logo Image" height="250">
        <div class="card-body">
          <br>
          <br>
          <h5 class="card-title">Testing</h5>
          <ul class="card-text">
            <p>All Of my Tests are available on my Gitlab repo</p>
            <li>Unit/Component Testing using Junit & MockMVC</li>
            <li>Integration Testing using Junit</li>
            <li>UI Testing using Protractor</li>
            <li>User Testing of UI & UX </li>
            <li>REST API testing using Postman during development</li>
            <li>Tests are being run on a gitlab pipeline after a commit</li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>


  <br>
</div>
