<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4" id="LocationHeadingFooter">Location</h4>
        <p class="lead mb-0">Dublin City University,
          <br>Ireland</p>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4"id="MyDetailsHeadingFooter">My Details</h4>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="https://github.com/Stephen-mcdonagh">
              <img src="assets/img/githubLogo.png" id= "GithubLink"alt="Link to my GitHub" style="width:15%" hspace="5">
            </a>
            <a href="https://ie.linkedin.com/in/stephen-mcdonagh-50b800168">
              <img src="assets/img/linkedInLogo.png" id="LinkedInLink"alt="Link to my LinkedIn" style="width:15%">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase mb-4" id="AboutPassportHeadingFooter">About Passport System</h4>
        <p class="lead mb-0">If you have any questions that was not answered by our PassportBot please email: </p>
        <p class="lead mb-0"> ca400passport@gmail.com </p>
      </div>
    </div>
  </div>
</footer>
